/* Mobiili-tyylit */

@media only screen and (max-width: 800px){
    /*
    Asetetaan elementit allekkain 100% leveydelle
    */
    header,
    header > div.logo,
    header > nav,
    header > nav a, 
    section,
    main {
        display: block;
        float: none;
        height: auto;
        width: 100%;
        /*text-align: center;*/
        clear: both;
        position: relative;
        padding: 0;
        
    }

    header nav {
        text-align: center;
    }

    header nav a {
        padding: 5px 0;
        display: block;

    }

    .v-center, .h-right {
        display: block;
        position: relative;
        transform: none;
    }

    /* showcase */
    .showcase {
        background-image: url('../img/binary-code-pixellated-screen-18835949.webp');
        padding-top: 60px;
        font-size: 1.6em;
        width: 100%;
        height: 300px;
        color: var(--teksti-vaalea);
        text-align: center;
    }

    /* Taulukko */
    th, td {
        font-size: 0.9em;
        padding: 0.5em;
    }
    
}
